:root {
  --color-white       : #ffffff;
  --color-black       : #0f0f0f;
  --color-gray        : #6c738a;
  --gradient-white-to-: linear-gradient(90deg, rgba(243, 243, 243, 1) 0%, rgba(246, 246, 246, 1) 50%, rgba(223, 223, 223, 1) 100%);
  --light             : rgba();
  --color-purplee     : #292b33;
  --color-orange      : #f58d54;
}

* {
  margin       : 0;
  padding      : 0;
  box-sizing   : border-box;
  /* border    : 1px solid red; */
}

body {
  height    : auto;
  min-height: 100%;
}

.mt--5 {
  margin-top: -50px;
}

.mt--10 {
  margin-top: -100px;
}

.h-450 {
  height: 450px !important;
}

@media (max-width: 992px) {
  .h-450 {
    height: 480px !important;
  }
}

@media (max-width: 767px) {
  .h-450 {
    height: 400px !important;
  }
}


@media (max-width: 575px) {
  .h-450 {
    height: 470px !important;
  }

  .w-300 {
    width: 300px !important;
  }
}

.u-body {
  font-size  : 1rem;
  line-height: 1.6;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-60 {
  font-size: 60px;
}

.font-bold {
  font-weight: bold;
}

.clear-fix:before,
.clear-fix:after {
  content: '';
  display: table;
}

.u-clear-fix:after {
  clear: both;
}

.sheet {
  position: relative;
  width   : 1140px;
  margin  : 0 auto;
}

.color-black {
  color: var(--color-black) !important;
}

.color-white {
  color: var(--color-white) !important;
}

.color-orange {
  color: var(--color-orange) !important;
}

.color-gray {
  color: var(--color-gray);
}

.bg-black {
  background-color: var(--color-black) !important;
}

.bg-purplee {
  background-color: var(--color-purplee);
}

.bg-white {
  background-color: var(--color-white) !important;
}

.bg-gray {
  background-color: var(--color-gray) !important;
}

.bg-orange {
  background-color: var(--color-orange) !important;
}

.border-white {
  border               : 2px solid var(--color-white) !important;
  border-radius        : 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius   : 20px !important;
  -ms-border-radius    : 20px !important;
  -o-border-radius     : 20px !important;
}

.border-solid-2 {
  border: 6px solid var(--color-white) !important;
}

.border-solid-3 {
  border: 9px solid var(--color-white) !important;
}

.border-solid-4 {
  border: 12px solid var(--color-white) !important;
}

.border-solid-5 {
  border: 15px solid var(--color-white) !important;
}

.border-solid-6 {
  border: 18px solid var(--color-white) !important;
}

.border-solid-7 {
  border: 21px solid var(--color-white) !important;
}

.border-solid-8 {
  border: 24px solid var(--color-white) !important;
}

.border-white-hover:hover {
  background: var(--color-white) !important;
  color     : var(--color-black) !important;
}

.border-gray-hover:hover {
  background: var(--color-gray) !important;
  color     : var(--color-white) !important;
}

.text-align-left {
  text-align: left !important;
}

.layout-cell,
.u-group.u-opacity {
  background-color: transparent !important;
  opacity         : 1;
}

.u-text-default {
  display   : table;
  align-self: flex-start;
}

.u-text-default:empty {
  display: block;
  width  : 15px;
}

.u-repeater {
  display              : grid;
  grid-template-columns: repeat(3, 33.33333333%);
}

.u-btn {
  display                     : table;
  cursor                      : pointer;
  color                       : inherit;
  font-size                   : inherit;
  font-family                 : inherit;
  line-height                 : inherit;
  letter-spacing              : inherit;
  text-transform              : inherit;
  font-style                  : inherit;
  font-weight                 : inherit;
  text-decoration             : none;
  border                      : 0 none transparent;
  outline-width               : 0;
  background-color            : transparent;
  margin                      : 0;
  -webkit-text-decoration-skip: objects;
  font-style                  : initial;
  white-space                 : nowrap;
  -webkit-user-select         : none;
  -ms-user-select             : none;
  user-select                 : none;
  vertical-align              : middle;
  text-align                  : center;
  padding                     : 10px 30px;
  border-radius               : 0;
  align-self                  : flex-start;
  margin-top                  : 20px;
  margin-bottom               : 20px;
}

.u-btn:focus,
.u-btn:active:focus,
.u-btn.active:focus {
  outline       : thin dotted;
  outline       : 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.u-btn:hover,
.u-btn:focus {
  text-decoration: none;
}

.u-btn:active,
.u-btn.active {
  outline         : 0;
  background-image: none;
}

.u-btn.disabled,
.u-btn[disabled] {
  opacity: 0.6;
}

.u-btn-circle {
  border-radius: 50%;
}

.u-btn-round {
  border-radius: 4px;
}

.u-btn-rectangle {
  border-radius: 0 !important;
}

.swiper {
  width : 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size : 18px;
  background: #fff;

  /* Center slide text vertically */
  display                : -webkit-box;
  display                : -ms-flexbox;
  display                : -webkit-flex;
  display                : flex;
  -webkit-box-pack       : center;
  -ms-flex-pack          : center;
  -webkit-justify-content: center;
  justify-content        : center;
  -webkit-box-align      : center;
  -ms-flex-align         : center;
  -webkit-align-items    : center;
  align-items            : center;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right    : 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left     : 20px;
    transform: rotate(90deg);
  }
}

.u-sheet {
  position: relative;
  width   : 1140px;
  margin  : 0 auto;
}

@media (min-width: 1200px) {
  .u-sheet {
    width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .u-sheet {
    width: 940px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .u-sheet {
    width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .u-sheet {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-sheet {
    width: 340px;
  }
}

.u-sheet .u-sheet {
  width: 100%;
}

/* BANNER */
.banner {
  background-image   : linear-gradient(0deg, rgba(41, 46, 51, 0.4), rgba(41, 46, 51, 0.4)), url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/bb71d1f699595d30bcde9895/fdfdfdf.jpg");
  background-position: 50% 50%;
  background-size    : cover;
}

.banner .u-sheet-1 {
  min-height: 858px;
}

.banner .u-text-1 {
  font-weight   : 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family   : "Source Sans Pro", sans-serif;
  margin        : 60px auto 0;
}

.banner .u-image-1 {
  height: 106px;
  width : 357px;
  margin: 11px auto 0;
}

.banner .u-text-2 {
  text-shadow   : 4px 4px 8px rgba(66, 84, 101, 0.4);
  font-weight   : 700;
  font-size     : 6rem;
  letter-spacing: 3px;
  font-family   : Lato, sans-serif;
  text-transform: none;
  margin        : 22px auto 0;
}

.banner .u-text-3 {
  font-family   : Roboto, sans-serif;
  letter-spacing: 2px;
  line-height   : 1.4;
  font-weight   : 300;
  font-size     : 1.5rem;
  text-transform: none;
  text-shadow   : 2px 2px 8px rgba(0, 0, 0, 0.4);
  width         : 839px;
  margin        : 47px auto 0;
}

.banner .u-btn-1 {
  border-style    : solid;
  font-weight     : 700;
  text-transform  : uppercase;
  letter-spacing  : 1px;
  font-size       : 1.125rem;
  background-image: none;
  margin          : 64px auto 60px;
  padding         : 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .banner .u-sheet-1 {
    min-height: 758px;
  }
}

@media (max-width: 991px) {
  .banner .u-sheet-1 {
    min-height: 747px;
  }

  .banner .u-text-2 {
    width     : auto;
    font-size : 4.5rem;
    margin-top: 24px;
  }

  .banner .u-text-3 {
    width       : auto;
    margin-top  : 45px;
    margin-left : 0;
    margin-right: 0;
  }

  .cards .container {
    padding: 0 !important;
  }

  .cards .container-cards {
    padding: 15px !important;
  }

  .card-deck {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .banner .u-sheet-1 {
    min-height: 603px;
  }

  .banner .u-image-1 {
    height: 70px;
    width : 259px;
  }

  .banner .u-text-2 {
    font-size : 3rem;
    margin-top: 60px;
  }

  .mt--10 {
    margin-top: -25px;
  }
}

@media (max-width: 575px) {
  .wd-75 {
    width: 275px !important;
  }

  .mt--10 {
    margin-top: -25px;
  }

  .w-resposive {
    width: 300px;
  }

  .banner .u-sheet-1 {
    min-height: 680px;
  }

  .banner .u-text-1 {
    margin-top: 99px;
  }

  .banner .u-text-2 {
    margin-top  : 40px;
    margin-left : 19px;
    margin-right: 19px;
    font-size   : 1.875rem;
  }

  .banner .u-text-3 {
    margin-top: 24px;
    width     : 300px;
    text-align: center;
  }

  .banner .u-btn-1 {
    margin-top: 40px;
  }
}

.cards {
  background-image: none;
}

.cards .u-sheet-1 {
  min-height: 271px;
}

.cards .u-list-1 {
  width : 1142px;
  margin: -62px -1px 60px;
}

.cards .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height           : 263px;
  grid-auto-columns    : calc(25% - 16.5px);
  grid-gap             : 22px;
}

.cards .u-list-item-1 {
  background-image: none;
}

.cards .u-container-layout-1 {
  padding: 30px;
}

.cards .u-icon-1 {
  height: 64px;
  width : 64px;
  margin: 0 auto;
}

.cards .u-text-1 {
  text-transform: uppercase;
  font-size     : 1.25rem;
  letter-spacing: 3px;
  font-weight   : 400;
  margin        : 20px 0 0;
}

.cards .u-text-2 {
  margin: 20px 1px 0;
}

.cards .u-container-layout-2 {
  padding: 30px;
}

.cards .u-icon-2 {
  height: 64px;
  width : 64px;
  margin: 0 auto;
}

.cards .u-text-3 {
  text-transform: uppercase;
  font-size     : 1.25rem;
  letter-spacing: 3px;
  font-weight   : 400;
  margin        : 20px 0 0;
}

.cards .u-text-4 {
  margin: 20px 1px 0;
}

.cards .u-container-layout-3 {
  padding: 30px;
}

.cards .u-icon-3 {
  height: 64px;
  width : 64px;
  margin: 0 auto;
}

.cards .u-text-5 {
  text-transform: uppercase;
  font-size     : 1.25rem;
  letter-spacing: 3px;
  font-weight   : 400;
  margin        : 20px 0 0;
}

.cards .u-text-6 {
  margin: 20px 1px 0;
}

.cards .u-container-layout-4 {
  padding: 30px;
}

.cards .u-icon-4 {
  height: 64px;
  width : 64px;
  margin: 0 auto;
}

.cards .u-text-7 {
  text-transform: uppercase;
  font-size     : 1.25rem;
  letter-spacing: 3px;
  font-weight   : 400;
  margin        : 20px 0 0;
}

.cards .u-text-8 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .cards .u-list-1 {
    width       : 940px;
    margin-left : 0;
    margin-right: 0;
  }

  .cards .u-repeater-1 {
    min-height: 217px;
  }

  .cards .u-text-2 {
    margin-left : 0;
    margin-right: 0;
  }

  .cards .u-text-4 {
    margin-left : 0;
    margin-right: 0;
  }

  .cards .u-text-6 {
    margin-left : 0;
    margin-right: 0;
  }

  .cards .u-text-8 {
    margin-left : 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .cards .u-sheet-1 {
    min-height: 547px;
  }

  .cards .u-list-1 {
    margin-right: initial;
    margin-left : initial;
    width       : auto;
  }

  .cards .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height           : 549px;
    grid-auto-columns    : calc(50% - 11px);
  }
}

@media (max-width: 767px) {
  .cards .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns    : calc(100% - 0px);
  }

  .cards .u-container-layout-1 {
    padding-left : 10px;
    padding-right: 10px;
  }

  .cards .u-container-layout-2 {
    padding-left : 10px;
    padding-right: 10px;
  }

  .cards .u-container-layout-3 {
    padding-left : 10px;
    padding-right: 10px;
  }

  .cards .u-container-layout-4 {
    padding-left : 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .cards .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.information {
  background-image: none;
  max-height      : 1200px;
}

.information .container-information .u-image-1 {
  overflow: hidden;
}

.information .u-sheet-1 {
  min-height: 1285px;
}

.information .u-image-1 {
  width              : 628px;
  height             : 628px;
  background-image   : url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/169dbf9a76c2571e8373e379/photo-1504870712357-65ea720d6078.jpg");
  background-position: 50% 50%;
  margin             : 60px 96px 0 auto;
}

.information .u-image-2 {
  width              : 276px;
  height             : 276px;
  background-image   : url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/78c2a90df1ac561790a74491/photo-1418065460487-3e41a6c84dc5.jpg");
  background-position: 50% 50%;
  margin             : -596px auto 0 71px;
}

.information .u-image-3 {
  width              : 389px;
  height             : 389px;
  background-image   : url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/f9bf585de71b58019a321e7f/photo-1483197452165-7abc4b248905.jpg");
  background-position: 50% 50%;
  margin             : 50px auto 0 156px;
}

.information .u-shape-1 {
  width : 119px;
  height: 119px;
  margin: -419px auto 0 20px;
}

.information .u-shape-2 {
  width : 250px;
  height: 250px;
  margin: 39px 69px 0 auto;
}

.information .u-group-1 {
  min-height   : 358px;
  margin-top   : 71px;
  margin-bottom: 60px;
}

.information .u-container-layout-1 {
  padding: 30px 50px;
}

.information .u-text-1 {
  margin: 5px auto 0;
}

.information .u-text-2 {
  font-size  : 1.25rem;
  font-weight: 500;
  margin     : 20px 0 0;
}

.information .u-text-3 {
  width : 359px;
  margin: 30px auto 0;
}

.information .u-btn-1 {
  border-style    : solid;
  font-weight     : 700;
  text-transform  : uppercase;
  letter-spacing  : 1px;
  font-size       : 1.125rem;
  background-image: none;
  margin          : 64px auto 60px;
  margin-top      : 64px;
  padding         : 20px 55px 21px 54px;
}

.information .u-btn-2 {
  letter-spacing  : 2px;
  font-size       : 1rem;
  background-image: none;
  border-style    : none;
  text-transform  : uppercase;
  font-weight     : 400;
  margin          : 20px auto 0;
  padding         : 16px 52px 17px;
}

@media (max-width: 1199px) {
  .information {
    margin-top: 30px;
  }

  .information .u-image-1 {
    width       : 562px;
    height      : 562px;
    margin-right: 60px;
  }

  .information .u-image-2 {
    margin-top : -628px;
    margin-left: 30px;
  }

  .information .u-image-3 {
    width      : 362px;
    height     : 362px;
    margin-top : 141px;
    margin-left: 171px;
  }

  .information .u-shape-1 {
    margin-top : -432px;
    margin-left: 52px;
  }

  .information .u-shape-2 {
    width       : 227px;
    height      : 227px;
    margin-top  : 7px;
    margin-right: 20px;
  }

  .information .u-group-1 {
    margin-top   : 147px;
    margin-bottom: -6px;
  }

  .information .u-text-1 {
    font-weight: 700;
    font-family: Lato, sans-serif;
    font-size  : 3.75rem;
  }
}

@media (max-width: 991px) {
  .information {
    margin-top: 250px;
  }

  .information .u-sheet-1 {
    min-height: 1476px;
  }

  .information .u-image-1 {
    margin-right: 13px;
  }

  .information .u-image-2 {
    margin-top : -812px;
    margin-left: 20px;
  }

  .information .u-image-3 {
    margin-top : 331px;
    margin-left: 20px;
  }

  .information .u-shape-1 {
    margin-top : -658px;
    margin-left: 13px;
  }

  .information .u-shape-2 {
    margin-top  : 245px;
    margin-right: 0;
  }

  .information .u-group-1 {
    margin-top   : 87px;
    margin-bottom: -190px;
  }

  .information .u-container-layout-1 {
    padding-left : 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .information {
    margin-top: 300px;
  }

  .information .u-sheet-1 {
    min-height: 1485px;
  }

  .information .u-image-1 {
    width       : 488px;
    height      : 488px;
    margin-right: 0;
  }

  .information .u-image-2 {
    margin-top : -799px;
    margin-left: 0;
  }

  .information .u-image-3 {
    width      : 323px;
    height     : 323px;
    margin-top : 348px;
    margin-left: -19px;
  }

  .information .u-shape-1 {
    margin-top : -671px;
    margin-left: 0;
  }

  .information .u-shape-2 {
    width     : 167px;
    height    : 167px;
    margin-top: 281px;
  }

  .information .u-group-1 {
    margin-top   : 125px;
    margin-bottom: -251px;
  }

  .information .u-container-layout-1 {
    padding-left : 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .information {
    margin-top: 250px;
    max-height: 950px;
  }

  .information .u-image-1 {
    width : 293px;
    height: 293px;
  }

  .information .u-image-2 {
    width     : 212px;
    height    : 212px;
    margin-top: -525px;
  }

  .information .u-image-3 {
    width      : 240px;
    height     : 240px;
    margin-top : 218px;
    margin-left: -14px;
  }

  .information .u-shape-1 {
    width     : 73px;
    height    : 73px;
    margin-top: -458px;
  }

  .information .u-shape-2 {
    width     : 145px;
    height    : 101px;
    margin-top: 158px;
  }

  .information .u-group-1 {
    margin-top   : 145px;
    margin-bottom: -172px;
  }

  .information .u-text-1 {
    font-size: 2.25rem;
  }

  .information .u-text-2 {
    font-size: 1.125rem;
  }

  .information .u-text-3 {
    width: 320px;
  }
}

.about-us {
  background-image: none;
}

.about-us .u-sheet-1 {
  min-height: 893px;
}

.about-us .u-group-1 {
  width           : 534px;
  min-height      : 163px;
  background-image: none;
  margin          : 60px auto 0 0;
}

.about-us .u-container-layout-1 {
  padding-left : 20px;
  padding-right: 20px;
}

.about-us .u-text-1 {
  font-weight   : 700;
  text-transform: none;
  font-family   : Lato, sans-serif;
  margin        : 15px 0 0;
}

.about-us .u-text-2 {
  font-size: 1rem;
  margin   : 30px 0 0;
}

.about-us .u-layout-wrap-1 {
  width : 945px;
  margin: 30px auto 60px;
}

.about-us .u-layout-cell-1 {
  min-height      : 590px;
  background-image: none;
}

.about-us .u-container-layout-2 {
  padding: 30px;
}

.about-us .u-text-3 {
  margin-top   : 0;
  font-size    : 1.25rem;
  margin-bottom: 0;
}

.about-us .u-btn-1 {
  letter-spacing  : 2px;
  font-size       : 1rem;
  background-image: none;
  border-style    : none;
  text-transform  : uppercase;
  font-weight     : 400;
  margin          : 20px auto 0 0;
  padding         : 16px 52px 17px;
}

.about-us .u-layout-cell-2 {
  min-height: 652px;
}

.about-us .u-container-layout-3 {
  padding: 30px 0;
}

.about-us .u-image-1 {
  width              : 422px;
  height             : 422px;
  background-image   : url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/7bf37fe689f2597583bdc819/rr.jpg");
  background-position: 50% 50%;
  margin             : 0 0 0 auto;
  background-size    : cover;
}

.about-us .u-text-4 {
  text-align: left;
  margin    : 20px 0 0 auto;
}

.about-us .u-btn-2 {
  border-style: none none solid;
  font-style  : normal;
  padding     : 0;
}

@media (max-width: 1199px) {
  .about-us .u-sheet-1 {
    min-height: 873px;
  }

  .about-us .u-group-1 {
    min-height: 143px;
  }

  .about-us .u-text-1 {
    width     : auto;
    margin-top: 0;
  }

  .about-us .u-layout-wrap-1 {
    width: 940px;
  }

  .about-us .u-layout-cell-1 {
    min-height: 587px;
  }

  .about-us .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height         : 649px;
  }
}

@media (max-width: 991px) {
  .about-us .u-sheet-1 {
    min-height: 952px;
  }

  .about-us .u-container-layout-1 {
    padding-top   : 20px;
    padding-bottom: 20px;
  }

  .about-us .u-layout-wrap-1 {
    width: 720px;
  }

  .about-us .u-layout-cell-1 {
    min-height: 100px;
  }

  .about-us .u-container-layout-2 {
    padding-left : 20px;
    padding-right: 20px;
  }

  .about-us .u-layout-cell-2 {
    min-height: 100px;
  }

  .about-us .u-container-layout-3 {
    padding-right: 20px;
    padding-left : 0;
  }

  .about-us .u-image-1 {
    width : 324px;
    height: 324px;
  }
}

@media (max-width: 767px) {

  .about-us .u-sheet-1 {
    min-height: 1298px;
  }

  .about-us .u-container-layout-1 {
    padding-left : 10px;
    padding-right: 10px;
  }

  .about-us .u-layout-wrap-1 {
    width: 540px;
  }

  .about-us .u-container-layout-2 {
    padding-left : 30px;
    padding-right: 30px;
  }

  .about-us .u-layout-cell-2 {
    min-height: 637px;
  }

  .about-us .u-container-layout-3 {
    padding-right: 0;
  }

  .about-us .u-image-1 {
    width      : 460px;
    height     : 460px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .about-us .u-sheet-1 {
    min-height: 1281px;
    max-width : 300px;
  }

  .about-us .u-group-1 {
    width: 340px;
  }

  .about-us .u-layout-wrap-1 {
    width: 340px;
  }

  .about-us .u-layout-cell-2 {
    min-height: 100px;
    padding   : 0;
  }

  .about-us .u-image-1 {
    width      : 280px;
    height     : 280px;
    margin-left: 0;
  }
}

.testimonials {
  background-image: none;
}

.testimonials .u-list-1 {
  width : 1033px;
  margin: 163px auto 0;
}

.testimonials .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height           : 515px;
  grid-gap             : 33px;
}

.testimonials .u-list-item-1 {
  background-image: none;
  box-shadow      : 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.testimonials .u-container-layout-1 {
  padding: 30px 25px;
}

.testimonials .u-image-1 {
  width              : 147px;
  height             : 147px;
  background-image   : url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/b7b05e77b57b56baa176ad42/tftry-min.jpg");
  background-position: 50% 50%;
  margin             : 0 auto 0 0;
}

.testimonials .u-text-1 {
  font-weight   : 700;
  text-transform: none;
  letter-spacing: normal;
  margin        : 39px 0 0;
}

.testimonials .u-text-2 {
  font-size: 1.25rem;
  margin   : 27px 0 0;
}

.testimonials .u-btn-1 {
  border-style  : none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin        : 20px 0 0;
  padding       : 0;
}

.testimonials .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.testimonials .u-container-layout-2 {
  padding: 30px 25px;
}

.testimonials .u-image-2 {
  width              : 147px;
  height             : 147px;
  background-image   : url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/2f06f199e82f5d2e80d4b930/gbcabcf627c179e3070fef24a69f43a814d1e55e6d1d1ec1b7d9d6d10d78509c61a93daa84dbaa63ffdd8cde1f8329d25c6593e42c3a1abd2746cb689f7c87497_1280.jpg");
  background-position: 50% 50%;
  margin             : 0 auto 0 0;
}

.testimonials .u-text-3 {
  font-weight   : 700;
  text-transform: none;
  letter-spacing: normal;
  font-size     : 1.5rem;
  margin        : 39px 0 0;
}

.testimonials .u-text-4 {
  font-size: 1.25rem;
  margin   : 27px 0 0;
}

.testimonials .u-btn-2 {
  border-style  : none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin        : 20px 0 0;
  padding       : 0;
}

.testimonials .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.testimonials .u-container-layout-3 {
  padding: 30px 25px;
}

.testimonials .u-image-3 {
  width              : 147px;
  height             : 147px;
  background-image   : url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/2e1771fe2fc45ac688ca14ae/bbb.jpg");
  background-position: 50% 50%;
  margin             : 0 auto 0 0;
}

.testimonials .u-text-5 {
  font-weight   : 700;
  text-transform: none;
  letter-spacing: normal;
  font-size     : 1.5rem;
  margin        : 39px 0 0;
}

.testimonials .u-text-6 {
  font-size: 1.25rem;
  margin   : 27px 0 0;
}

.testimonials .u-btn-3 {
  border-style  : none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin        : 20px 0 0;
  padding       : 0;
}

.testimonials .u-text-7 {
  font-weight: 400;
  margin     : 38px auto 56px;
}

.testimonials .u-btn-4 {
  border-style: none none solid;
  font-style  : normal;
  padding     : 0;
}

@media (max-width: 1199px) {
  .testimonials .u-sheet-1 {
    min-height: 658px;
  }

  .testimonials .u-list-1 {
    width: 940px;
  }

  .testimonials .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 22px));
    min-height           : 469px;
  }
}

@media (max-width: 991px) {
  .testimonials .u-sheet-1 {
    min-height: 504px;
  }

  .testimonials .u-list-1 {
    width: 720px;
  }

  .testimonials .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height           : 1078px;
  }
}

@media (max-width: 767px) {
  /* .testimonials .u-sheet-1 {
    min-height: 1478px;
  } */

  .testimonials .u-list-1 {
    width     : 540px;
    margin-top: 55px;
  }

  .testimonials .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .testimonials .u-container-layout-1 {
    padding-left : 30px;
    padding-right: 30px;
  }

  .testimonials .u-container-layout-2 {
    padding-left : 30px;
    padding-right: 30px;
  }

  .testimonials .u-container-layout-3 {
    padding-left : 30px;
    padding-right: 30px;
  }

  .testimonials .u-text-7 {
    margin-bottom: 55px;
  }
}

@media (max-width: 575px) {
  .testimonials {
    padding: 0 !important;
  }

  .testimonials .u-sheet-1 {
    min-height: 930px;
    width     : 300px;
    margin    : 0 auto;
  }

  .testimonials .u-list-1 {
    width: 340px;
  }

  .testimonials .u-container-layout-1 {
    padding-left : 20px;
    padding-right: 20px;
  }

  .testimonials .u-container-layout-2 {
    padding-left : 20px;
    padding-right: 20px;
  }

  .testimonials .u-container-layout-3 {
    padding-left : 20px;
    padding-right: 20px;
  }
}

.featured-place {
  background-image: none;
}


.featured-place .u-group-1 {
  width     : 708px;
  min-height: 560px;
  margin    : 59px 170px 0 auto;
}

.featured-place .u-container-layout-1 {
  padding: 0;
}

.featured-place .u-image-1 {
  width              : 500px;
  height             : 500px;
  background-image   : url("//images01.nicepage.com/a1389d7bc73adea1e1c1fb7e/4de7e35958a65a38a3e42f5b/pexels-photo-9077847.jpeg");
  background-position: 50% 50%;
  margin             : 30px 0 0 auto;
}

.featured-place .u-text-1 {
  font-size     : 6rem;
  font-style    : italic;
  font-weight   : 400;
  letter-spacing: 3px;
  margin        : -296px auto 0 0;
}

.featured-place .u-text-2 {
  margin: 30px 170px 0 636px;
}

.featured-place .u-shape-1 {
  width : 119px;
  height: 119px;
  margin: -110px auto 60px 208px;
}

@media (max-width: 1199px) {
  .featured-place .u-text-2 {
    margin-left: 436px;
  }

  .featured-place .u-shape-1 {
    margin-top: -110px;
  }
}

@media (max-width: 991px) {
  .featured-place .u-group-1 {
    width       : 633px;
    margin-right: 12px;
  }

  .featured-place .u-text-2 {
    margin-right: 12px;
    margin-left : 374px;
  }

  .featured-place .u-shape-1 {
    margin-top : -138px;
    margin-left: 59px;
  }
}

@media (max-width: 767px) {
  .featured-place .u-group-1 {
    margin-right: initial;
    margin-left : initial;
    width       : auto;
  }

  .featured-place .u-text-2 {
    margin-right: 0;
    margin-left : 206px;
  }

  .featured-place .u-shape-1 {
    width      : 88px;
    height     : 87px;
    margin-top : -128px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .block-none {
    display: none;
  }

  .featured-place .u-sheet-1 {
    min-height: 744px;
  }

  .featured-place .u-group-1 {
    min-height  : 356px;
    margin-top  : 43px;
    width       : auto;
    margin-right: initial;
    margin-left : initial;
  }

  .featured-place .u-image-1 {
    width : 299px;
    height: 299px;
  }

  .featured-place .u-text-1 {
    width     : auto;
    margin-top: -232px;
    font-size : 1.5rem;
  }

  .featured-place .u-text-2 {
    width      : auto;
    margin-top : 27px;
    margin-left: 6px;
  }

  .featured-place .u-shape-1 {
    margin-top : 43px;
    margin-left: 41px;
  }
}

.reel {
  min-height: 438px;
}

.reel .u-gallery-1 {
  height: 438px;
  margin: 0 0 0 auto;
}

.reel .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap             : 0px;
}

.reel .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding         : 20px;
}

.reel .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding         : 20px;
}

.reel .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  padding         : 20px;
}

@media (max-width: 1199px) {
  .reel {
    min-height: 362px;
  }

  .reel .u-gallery-1 {
    height      : 361px;
    margin-right: initial;
    margin-left : initial;
  }
}

@media (max-width: 991px) {
  .reel {
    min-height: 623px;
  }

  .reel .u-gallery-1 {
    height      : 830px;
    margin-right: initial;
    margin-left : initial;
  }

  .reel .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .reel {
    min-height: 1867px;
  }

  .reel .u-gallery-1 {
    height      : 1868px;
    margin-right: initial;
    margin-left : initial;
  }

  .reel .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .reel {
    min-height: 1176px;
  }

  .reel .u-gallery-1 {
    height      : 1176px;
    margin-right: initial;
    margin-left : initial;
  }
}

.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1071px;
}

.u-section-9 .u-shape-1 {
  width           : 246px;
  height          : 246px;
  background-image: none;
  margin          : 60px auto 0 712px;
}

.u-section-9 .u-image-1 {
  width              : 650px;
  height             : 650px;
  background-image   : url("//images01.nicepage.com/c461c07a441a5d220e8feb1a/b46896e762a25dc681edea4e/ertt.jpg");
  background-position: 50% 50%;
  box-shadow         : 5px 5px 20px 0 rgba(0, 0, 0, 0.4);
  margin             : -246px auto 0 51px;
}

.u-section-9 .u-group-1 {
  width           : 613px;
  min-height      : 501px;
  background-image: none;
  margin          : -240px auto 0 507px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin     : 0 43px 0 0;
}

.u-section-9 .u-text-2 {
  font-size  : 1.25rem;
  font-weight: 400;
  margin     : 26px 0 0;
}

.u-section-9 .u-text-3 {
  font-style: normal;
  font-size : 1.25rem;
  margin    : 26px 0 0;
}

.u-section-9 .u-btn-1 {
  border-style: none none solid;
  font-style  : normal;
  padding     : 0;
}

.u-section-9 .u-btn-2 {
  letter-spacing  : 2px;
  font-size       : 1rem;
  background-image: none;
  border-style    : none;
  text-transform  : uppercase;
  font-weight     : 400;
  margin          : 40px auto 0 0;
  padding         : 16px 52px 17px;
}

.u-section-9 .u-shape-2 {
  width : 168px;
  height: 168px;
  margin: -428px auto 320px 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1200px;
  }

  .u-section-9 .u-shape-1 {
    margin-left: 694px;
  }

  .u-section-9 .u-image-1 {
    margin-top : -159px;
    margin-left: 28px;
  }

  .u-section-9 .u-group-1 {
    margin-top  : -143px;
    margin-right: 0;
    margin-left : auto;
  }

  .u-section-9 .u-shape-2 {
    margin-top   : -526px;
    margin-bottom: 418px;
    margin-left  : 28px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1232px;
  }

  .u-section-9 .u-shape-1 {
    margin-left: 474px;
  }

  .u-section-9 .u-image-1 {
    width      : 554px;
    height     : 554px;
    margin-top : -54px;
    margin-left: 26px;
  }

  .u-section-9 .u-group-1 {
    width     : 447px;
    margin-top: -119px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left : 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-shape-2 {
    width        : 138px;
    height       : 138px;
    margin-top   : -536px;
    margin-bottom: 458px;
    margin-left  : 26px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1286px;
  }

  .u-section-9 .u-shape-1 {
    margin-left: 294px;
  }

  .u-section-9 .u-image-1 {
    width      : 434px;
    height     : 434px;
    margin-top : -31px;
    margin-left: 13px;
  }

  .u-section-9 .u-group-1 {
    min-height: 517px;
    margin-top: 68px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 2px;
    margin-left : 2px;
  }

  .u-section-9 .u-shape-2 {
    margin-top   : -698px;
    margin-bottom: 620px;
    margin-left  : 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1262px;
  }

  .u-section-9 .u-shape-1 {
    margin-left: 94px;
  }

  .u-section-9 .u-image-1 {
    width      : 300px;
    height     : 300px;
    margin-top : 16px;
    margin-left: 0;
  }

  .u-section-9 .u-group-1 {
    min-height  : 502px;
    margin-top  : 78px;
    margin-right: initial;
    margin-left : initial;
    width       : auto;
  }

  .u-section-9 .u-shape-2 {
    width        : 96px;
    height       : 96px;
    margin-top   : -647px;
    margin-bottom: 611px;
    margin-left  : 8px;
  }
}

.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 601px;
}

.u-section-10 .u-text-1 {
  width    : 514px;
  font-size: 3.75rem;
  margin   : 75px auto 0;
}

.u-section-10 .u-form-1 {
  height: 311px;
  width : 678px;
  margin: 74px auto 68px;
}

.u-section-10 .u-form-group-1 {
  margin-left: auto;
}

.u-section-10 .u-label-1 {
  letter-spacing: 0px;
}

.u-section-10 .u-input-1 {
  background-image: none;
  font-size       : 1.125rem;
  font-weight     : 300;
}

.u-section-10 .u-form-group-2 {
  margin-left: auto;
}

.u-section-10 .u-label-2 {
  letter-spacing: 0px;
}

.u-section-10 .u-input-2 {
  background-image: none;
  font-size       : 1.125rem;
  font-weight     : 300;
}

.u-section-10 .u-form-group-3 {
  margin-left: auto;
}

.u-section-10 .u-label-3 {
  letter-spacing: 0px;
}

.u-section-10 .u-input-3 {
  background-image: none;
  font-size       : 1.125rem;
  font-weight     : 300;
}

.u-section-10 .u-form-group-4 {
  margin-left: auto;
}

.u-section-10 .u-btn-1 {
  font-size       : 1rem;
  margin-left     : auto;
  letter-spacing  : 1px;
  border-style    : none;
  background-image: none;
  width           : 100%;
  text-transform  : uppercase;
  font-weight     : 600;
  padding         : 14px 29px 15px;
}

@media (max-width: 767px) {
  .u-section-10 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-10 .u-text-1 {
    width       : auto;
    font-size   : 3rem;
    margin-top  : 60px;
    margin-left : 0;
    margin-right: 0;
  }

  .u-section-10 .u-form-1 {
    width        : 340px;
    margin-top   : 55px;
    margin-bottom: 60px;
  }
}

.u-disable-duration * {
  transition-duration: 0s !important;
}